/* General */
* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono", monospace;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    min-height: 10px;
    background-color: rgba(20, 20, 20, 0);
    color: #ffffff;
}

/* LEFT */
.modules-left {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    margin: 4px 0 2px 6px;
}

/* CENTER */
.modules-center {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    margin: 4px 0 2px;
}

/* RIGHT */
.modules-right {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    margin: 4px 6px 2px 0;
}

/* Module spacing */
#cpu,
#memory,
#custom-gpu,
#clock,
#pulseaudio,
#custom-mpris-marquee,
#custom-power,
#network,
#workspaces,
#temperature {
    padding: 0 10px;
    margin: 0 2px;
}

/* Power */
#custom-power {
    color: #ffffff;
    font-size: 15px;
    margin-right: 10px;
}

/* MPRIS */
#custom-mpris-marquee {
    padding: 0 10px;
}

/* Clock */
#clock {
    font-weight: bold;
}

/* Temperature */
#temperature.critical {
    color: #ff5555;
}

/* Tooltip */
tooltip {
    background-color: rgba(20, 20, 20, 0.4);
    color: #ffffff;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

tooltip label {
    color: #ffffff;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

/* Interactive hover effect */
#cpu,
#memory,
#custom-gpu,
#temperature,
#clock,
#pulseaudio,
#network,
#custom-mpris-marquee {
    transition: font-size 0.15s ease;
}

#cpu:hover,
#memory:hover,
#custom-gpu:hover,
#temperature:hover,
#clock:hover,
#pulseaudio:hover,
#network:hover,
#custom-mpris-marquee:hover {
    font-size: 15px;
}

#workspaces {
    margin: 0 8px;
    padding: 4px 2px;
    padding-left: 0;
    margin-left: 0;
}

#workspaces button {
    min-width: 10px;
    min-height: 10px;

    margin: 0 4px;
    padding: 0;

    border: none;
    border-radius: 5px;
    text-shadow: none;

    background: rgba(255, 255, 255, 0.18);

    color: transparent;

    transition:
        min-width 0.25s ease,
        background 0.25s ease,
        box-shadow 0.25s ease;
}

#workspaces button label {
    color: transparent;
    font-size: 0;
}

#workspaces button.active {
    min-width: 32px;
    min-height: 10px;

    background: rgba(255, 255, 255, 0.65);

    border-radius: 5px;

    box-shadow:
        0 0 8px rgba(255, 255, 255, 0.35);
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.5);

    box-shadow:
        0 0 6px rgba(255, 255, 255, 0.2);
}

#workspaces button.empty {
    background: rgba(255, 255, 255, 0.10);
}

#workspaces button:not(.empty):not(.active) {
    background: rgba(255, 255, 255, 0.28);
}

#workspaces button.urgent {
    background: rgba(255, 70, 70, 0.8);

    box-shadow:
        0 0 8px rgba(255, 70, 70, 0.4);
}

#network {
    transition: font-size 0.15s ease;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 13px;
}
#pulseaudio {
    font-size: 13px;
    padding-right: 0;
    margin-right: 0;

}
